*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    border: 0;
}
::after, ::before{
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url("./resourses/fonts/Roboto/Roboto-Regular.ttf");
}
html{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;   
    overflow-x: hidden;
}
body.lock{
    overflow: hidden;
}
.pop-up__container{
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, .47);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    display: none;
    z-index: 5;
    padding: 84px 0;
}
.pop-up__close{
    position: absolute;
    top:32px;
    right: 40px;
    height: 24px;
    width: 24px;
}
.pop-up__close img{
    height: 100%;
    width: 100%;
}
.pop-up__image{
    width: 600px;
    height: 600px;
}
.pop-up__image img{
    height: 100%;
    width: 100%;
}
.navigation__container{
    display: flex;
    margin-top: 64px;
}
.navigation__item{
    width: 372px;
    height: 55px;
    padding: 16px 32px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
.navigation__item:hover{
    cursor: pointer;
}
.navigation__item h2{
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
.navigation__item.active{
    background: #EDF9FF;
    border-radius: 16px;
    color: #117DC1;
}
.catalogue{
    width: 100%;
    max-width: 750px;
    position: relative;
}
.catalogue__container{
    width: 100%;
    display: none;
}
.catalogue__inner{
    width: 100%;
    margin-top: 16px;
}
.catalogue__users-list{
    padding: 0;
}
.catalogue__users-list h3, .catalogue__users-list span{
    cursor: pointer;
}
li{
    list-style: none;
}
.catalogue__item-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0;
}
.icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}
.catalogue__user-name{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    color: #1C1C1C;
}
.album__info{
    display: flex;
    align-items: center;
    padding: 24px 0;
    width: 744px;
}
.album__name{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
.catalogue__albums-list{
    display: none;
}
.catalogue__albums-list.active{
    display: block;
}
.album{
    width: 744px;
}
.images__container{
    padding: 32px 105px;
    display: none;
}
.images__container.active{
    display: block;
}
.images__inner{
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 42px;
    width: 100%;
}
.image{
    position: relative;
    height: 150px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.fav__button{
    position: absolute;
    width: 32px;
    height: 32px;
    top:8px;
    right: 8px;
}
.fav__button img{
    object-fit: cover;
}
.image__title{
    width: 150px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, .69);
    border-radius: 4px;
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 400;
    color:#fff;
    position: absolute;
    bottom: -34px;
    right: -63px;
    z-index: 2;
    display: none;
}
.catalogue__error-container{
    width: 100%;
    height: 100%;
    padding: 56px 0;
    height: 944px;
    display: none;
}
.error__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error__text{
    margin-top: 32px;
}
.error__text h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 28.6px;
}
.error__text p{
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
}
.error-container{
    width: 100%;
    height: 100%;
    height: 320px;
    display: none;
}
.error-container.active{
    display: block;
}
.error-inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-text{
    margin-left: 24px;
}
.error-text h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 28.6px;
}
.error-text p{
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
}
.catalogue__preloader-container{
    width: 100%;
    height: 100%;
    padding: 54px 0;
    height: 888px;
}
.preloader__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preloader-container{
    width: 100%;
    height: 100%;
    height: 320px;
}
.preloader-inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite__container{
    padding: 56px 0;
    width: 100%;
    display: none;
}
.favorite__empty{
    width: 100%;
    padding-top: 206px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.favorite__empty h3{
    font-size: 22px;
    font-weight: 700px;
    line-height: 28.6px;
    margin-top: 32px;
    margin-bottom: 8px;
}
.favorite__empty p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 23.4px;
}
.open{
    display: block;
}
.favorite__inner{
    display: flex;
    justify-content: center;
}
.favorite__photos{
    max-width: 551px;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 8px;
    gap: 141px 42px;
    width: 100%;
}
.favorite__image-title{
    width:150px;
    height: 87px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color:#787878;
    margin-top: 12px;
}
.favorite__inner img:hover{
    cursor: pointer;
}




